

#current-time{
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
}
#timer{
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
}
#alarm-btn{
    color: white;
    border-radius: 8px;
    background-color: #000000d0;
    outline: none;
    border: none;
}

#start-btn{
    color: white;
    border-radius: 8px;
    background-color: #000000d0;
    text-align: center;
    outline: none;
    border: none;
}

#stop-btn{
    color: white;
    border-radius: 8px;
    background-color: #000000d0;
    text-align: center;
    outline: none;
    border: none;
}

#input-hours{
    border-radius:8px ;
    outline: none;
    border: none;
    
}
#input-minute{
    border-radius:8px ;
    outline: none;
    border: none;
}

#input-seconds{
    border-radius:8px ;
    outline: none;
    border: none;
}

#start-stop{
    display: flex;
    justify-content: center;
}
#last-btns{
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?clock');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frame{
 
    background: #000000d0;
    color:white;
    padding: 2em;
    border-radius: 35px;
    width: 100%;
    max-width: fit-content;
    

}
